@import "@arco-design/web-react/dist/css/arco.css";

body {
  -webkit-font-smoothing: antialiased;
}

body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,input{
  margin:0;
  padding:0;
}

ul,li,ol{
  list-style:none;
}

input,a{
  outline:none;
}

.component-selected{
  position: relative;
}

.component-selected::after{
  content: ' ';
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  --tw-border-opacity: 1;
  border: 1px solid #6AA1FF;
}

.component-hovered{
  position: relative;
}

.component-hovered::after{
  content: ' ';
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  --tw-border-opacity: 1;
  border: 1px dashed #6AA1FF;
}